* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightskyblue;
  background-color: palegoldenrod;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 2rem;
  color: darkslateblue;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #888888;
}

input:focus {
  outline: none;
}
